body {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    margin: 0;
    padding: 0;
    background-color: #555;
    color: #eee;
    font-family: Tahoma, Geneva, sans-serif;
/*    font-family: Monaco, monospace;*/
}
.notActive {
	visibility: hidden;
}

button {
	margin-bottom: 150px;
    background-color: transparent;
    border: 3px solid #eee;
    color: #eee;
    font-size: 46px;
    padding: 16px 24px;
	text-transform: uppercase;
    transition: 0.5s;
/*    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);*/
}
button:hover {
    color: #555;
    background-color: #eee;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
button:active {
    box-shadow: none;
}

/*===============================================*/
/*MAIN MENU*/
/*===============================================*/
#start-screen {
	z-index: 1;
	position: absolute;
	/* background-color: #0099cc; */
	width: 100%;
	height: 100%;
	text-align: center;
	
	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: center;
	text-align: center;
}
h1 {
	font-size: 10em;
	margin: 0 0 40px 0;
	padding: 0;
	text-shadow: 0px 0px 20px rgba(0,0,0,0.4);
}
.start-hi-score {
	font-size: 1.5em;
	margin-bottom: 50px;
	position: absolute;
	bottom: 0;
}



/*===============================================*/
/*PLAY SCREEN*/
/*===============================================*/
#play-screen {
	z-index: 2;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #555;
}
.play-area {
    display: flex;
	align-items: center;
    justify-content: center;
    height: 100%;
	text-align: center;
}
.scoreBoard {
	display: block;
	position: fixed;
    padding: 1.5em 5%;
    width: 90%;
    background-color: #111;
    font-size: 1em;
}
.scoreBoard > ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
	margin: 0 auto;
	padding: 0;
	max-width: 1000px;
}
#in {
    background: none;
    border: none;
    border-bottom: 8px solid #eee;
    color: #eee;
    font-size: 84px;
    outline: none;
    padding-bottom: 16px;
    text-align: center;
    width: 100%;
    max-width: 685px;
	margin: auto;
}
#answer {
    display: block;
    font-size: 28px;
    margin: 20px;
}
.information {
    width: 100%;
    position: relative;
	height: 50px;
}
#clock {
    display: block;
    margin: 0 auto;
    width: 50px;
    height: 50px;
}
#bar {
    fill: #eee;
}
#feedback{
	position: absolute;
	width: 100%;
	margin: 0;
	font-size: 46px;
	font-weight: bold;
	text-align: center;
	color: white;
	text-shadow: 0 0 0.4em lightgreen;
}



/*===============================================*/
/*PLAY SCREEN*/
/*===============================================*/
#gameover-screen {
	z-index: 1;
	position: absolute;
	/* background-color: #0099cc; */
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 1.5em;
	
	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: center;
	text-align: center;
}
.gameover-header {
	font-size: 5em;
	margin: 0;
	padding: 0;
	text-shadow: 0px 0px 40px rgba(0,0,0,0.4);
	font-weight: bold;
}
.gameover-hi-score {
	/* margin: 10px 0 30px 0; */
	margin: 20px 0 10px 0;
	position: relative;
}
.new-hi-score {
	position: absolute;
	left: -2.8em;
	font-weight: bold;
	font-size: 0.7em;
	text-shadow: 0px 0px 8px rgba(244, 66, 66,0.8);
}
.gameover-score {
	margin: 10px 0 30px 0;
	/* margin: 20px 0 10px 0; */
}






@media only screen and (max-width: 640px){
    #in {
        font-size: 36px;
        border-width: 5px;
    }
    #word {
        font-size: 22px;
    }
    header {
        font-size: 0.9em;
    }
}
